* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}


body{
    overflow: hidden;
    background-color: "#DCDCDC";
    background: "#DCDCDC";
    /* background: "#F9F6EE"; */

    -webkit-user-select: none;
    -moz-user-select: none;
      -o-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
canvas{
    background-color: "#DCDCDC";
    /* background: "#F9F6EE"; */
    position: block;
    top: 0;
    left: 0;
    z-index: 0;
}




.overall-page {
    position: relative;
}



.btn-location-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 10px;
}



.btn-dropdown {
    position: relative;
    width: 100%;
}

.btn-dropdown:hover .dropdown-content {
    display: block;
}



.drop-btn {
    width: 100%;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    opacity: .3;
}

.drop-btn:hover {
    opacity: .9;
}



.dropdown-content {
    display: none;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* background-color: #f9f9f9; */
    background-color: #C8C8C8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: .9;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-content a:last-child {
    border-bottom: none;  /* Remove border from last item */
}



.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%; /* Adjust the width as needed */
    max-width: 1000px;
    position: absolute;
    top: 35%;
    left: 50%; /* Position the left side of the container at the center of the page */
    transform: translateX(-50%); /* Shift the container left by 50% of its width to center it */
    margin: 0; /* No need for auto margins with absolute positioning */
    z-index: 1;
}

.content-button {
    align-items: center;
    color: #3B3B3B;
    background-color: transparent;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    font-size: 17px;
    font-weight: 600;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    flex: 1;
    margin: 0 0px;
    z-index: 1;
    white-space: nowrap; /* Prevents text from wrapping to a second line */
    flex-shrink: 0; /* Prevents the button from shrinking smaller than its content */
}

#content-block {
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: none;
    margin-top: 0px; /* Space between the buttons and the content */
    padding: 0px;
    background-color: transparent;
    font-weight: bold;
    font-weight: 450;
    width: 60%; /* Ensure the content block is centered and matches the width of the button container */
    max-width: 600px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 45%; /* Adjust this to position the content block correctly */
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}
